@use '../vars' as *;
@use '../mixins' as *;

.footer {
  background-color: #0000ff;
  font-size: 2.2rem;
  color: white;
  padding: 20px;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__phone-title {
  font-size: 2.6rem;
  font-family: $font-title;
}

.footer__note {
  font-size: 1.6rem;
}
