$tooltip-height: 30px;
// colors
$color-main: #54478f;
$color-ghost: #868686;
$services-section-background: #f5f5f5;

// font
$font-title: text-title;
$font-base: text-base;
$font-light: text-light;
$font-size-title: 2.2rem;
$font-size-subtitle: 2rem;
$font-size-base: 1.6rem;

$section-title-size: 4.2rem;
