footer.footer#footer
  .container.footer__inner
    .footer__content
      h2.footer__phone-title Контакты:
      p.footer__phone
        div +7 (950) 478 83 18
        div +7 (342) 288 17 21
      p.footer__email Servisnyycentr@gmail.com
      p.footer__address Адрес Юрша 21, г.Пермь
      a(href='https://t.me/Servisnyy_Centr').telegram
        <i class="fa-brands fa-telegram"></i>