section.offer 
  .offer__text-content.container
    h2.offer__title Ремонт цифровой техники
    p.text.offer__text.
      Быстрый и качественный ремонт всех видов цифровой техники с гарантией и
      бесплатной диагностикой.

  .offer__image
    img(
      src="/assets/img/offer-bg.png"
      alt="oops"
      draggable='false'
    )  