section.reviews#reviews
  h2.reviews__title.text-subtitle Отзывы наших клиентов
  div.reviews__inner.container
    .reviews__list
      .review-wrapper
        .review
          p.review__text.text-light.
            Поменяли заднюю панель и дисплей на iPhone 6, сделали все быстро,
            качественно и недорого. Я попросил мастера приехать ко мне в офис, и
            уже через час мой телефон был отремонтирован! Спасибо большое!

        .review-author
          .review-author__name Михаил Яковлев
          .review-author__position Менеджер

      .review-wrapper
        .review
          p.review__text.text-light.
            Отличный сервис и низкие цены! Ребята помогли мне отремонтировать ноутбук, когда я уже думала что он больше не будет работать! Спасибо!
        .review-author
          .review-author__name Александра Тихонова
          .review-author__position Студентка

      .review-wrapper
        .review
          p.review__text.text-light.
            Уже не первый раз обращаюсь сюда со своим компьютером. И каждый раз остаюсь доволен работой, обращением и ценовой политикой. Спасибо большое!
        .review-author
          .review-author__name Сергей Быков
          .review-author__position Экономист

      .review-wrapper
        .review
          p.review__text.text-light.
            Обратилась в субботу. Сдавала телефон Samsung Galaxy с разбитым стеклом, забрала как новенький, и цены не завышены. Буду без сомнения рекомендовать вас!
        .review-author
          .review-author__name Светлана Климова
          .review-author__position Бухгалтер
    hr
    .feedback.text
      h2.text-subtitle
        |Если вы обращались в наш сервис, пишите нам на
        | 
        span.feedback__email
          |Servisnyycentr
          br.email__breaker
          |@gmail.com
        |.
        br
        |Мы бы очень хотели узнать ваше мнение о нашей работе!