section.sale
  .container.sale__inner
    .sale__text-content
      h2.text-title.sale__title - 10% на первый ремонт

      p.text.sale__text.
        Оставьте заявку и получите скидку 10% на ваш первый ремонт в нашем
        сервисном центре!

    button.sale__get-sale-btn
      a(href='https://t.me/Servisnyy_Centr', target='_blank' rel='noopener' ) Получить скидку